VITE_BACKEND_URL=http://localhost:3000
VITE_FIREBASE_API_KEY=AIzaSyAGQLgeWtiRhoOEO_NYfqfTnxF8D5ejKm8
VITE_FIREBASE_AUTH_DOMAIN=rimx-ea5e2.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=rimx-ea5e2
VITE_FIREBASE_STORAGE_BUCKET=rimx-ea5e2.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=641649327434
VITE_FIREBASE_APP_ID=1:641649327434:web:28ae86111e251c504795b3

# import backendUrl this way
# const backendUrl = import.meta.env.VITE_BACKEND_URL;
# console.log(backendUrl); // https://api.example.com